<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <appSettings>
    <add key="ServerAdd" value="http://localhost/NIFT_Barcode/"/>
	<add key="TestPathURL" value="http://localhost/NIFT_Test/"/>
	<add key="apiURL" value="http://localhost/EDUWEBAPI/"/>
	<!--<add key="URL" value="http://localhost/EduAPI/api/data/LogStatus"/>-->
	<add key="Log" value="0"/>
	<add key="APItoken" value="uscebqxlh7ofnyasy7kdsmrcxj1hw5cv"/>
	<add key="AWSURL" value="https://test.cbexams.com/NTAMastApps/api/data/ValidateAadhar"/>
  </appSettings>
</configuration>